article.abit-view
  .container(style="display: flex;")
    .value.abit-view__reg-date #[span(name="reg-date") 09.08.2021]
    .value.abit-view__gender.emoji ♂️
    .value.abit-view__fio #[span(name="fio") Абдулаев Алексей Евгеньевич]

    .value.abit-view__applications-list
      span.abit-view__application БУ
      span.abit-view__application СЭЗИС
      span.abit-view__application.abit-view__application--priority ПБ

    .value.abit-view__cert-score 4,25
    .value.abit-view__extra-score 0,25
    .value.abit-view__total-score 4,5

    .value.abit-view__has-edu-cert-original ☑️
    .value.abit-view__has-medical-cert ✅
    .value.abit-view__has-fluoro 🗹
    .value.abit-view__has-vaccine ✔️

  .container(style="display: flex;")
    .value.abit-view__need-dorm 🏨
    .value.abit-view__address #[span(name="address") Республика Саха (Якутия) Хангаласский улус]
    .value.abit-view__tel #[span(name="tel") +79243212565]

  .container(style="display: flex;")
    .value.abit-view__school-year #[span(name="school-year") 2021]
    .value.abit-view__school #[span(name="school") МКОУ СОШ №17 с. Прохладное Надеждинского р-на]

  .value.abit-view--memo #[span(name="memo")]
