.button {
  min-height: 3em;
  min-width: 3em;
  padding: 0.5em 1em;
  transition: transform 0.1s ease-out;
}

.button--primary {
  background-color: var(--color-primary);
  border-width: 1px;
  border-radius: 5px;
  border-color: var(--color-primary);
  border-style: solid;
  box-shadow: 0 0.2em 1em 0 currentColor;
}

.button--primary:hover {
  background-color: var(--color-primary-light);
}

.button--primary:active {
  transform: scale(0.95);
}

.button--remove {
  background: none;
  border-style: none;
  cursor: pointer;
}
.button--remove::before {
  content: '❌';
}
.button--remove:active {
  transform: scale(0.95);
}
