div(style="display: flex;")
  form.edu-prog-form(style="margin: auto;", data-status="edit")
    .edu-prog-form__code
      label.field
        span.field__title Код образовательной программы
        input.field__input(name="code", type="text", value="", size="15" autofocus required)
    .edu-prog-form__speciality
      label.field
        span.field__title Специальность
        input.field__input(name="speciality", type="text", size="50", value="")
    .edu-prog-form__qualification
      label.field
        span.field__title Квалификация
        input.field__input(name="qualification", type="text", size="50", value="")
    .edu-prog-form__edu-form
      label.field
        span.field__title Форма обучения
        select.field_select(name="edu-form", value="")
          option(value="очная") очная
          option(value="заочна") заочна
        //- input.field__input(name="edu-form", type="text", value="")
    .edu-prog-form__base-edu-level
      label.field
        span.field_title Базовое образование
        select.field__select(name="base-edu-level", value="")
          option(value="11 классов") 11 классов
          option(value="9 классов") 9 классов
        //- input.field__input(type="text", name="base-edu-level", value="")
    .edu-prog-form__duration
      label.field
        span.field__title Продолжительность обучения
        select.field__select(name="duration", value="")
          option(value="1 год 10 месяцев") 1 год 10 месяцев
          option(value="2 года 10 месяцев") 2 года 10 месяцев
          option(value="3 года 10 месяцев") 3 года 10 месяцев
        //- input.field__input(type="text", name="duration", value="")
    .edu-prog-form__fin-source
      label.field
        span.field__title Источник финансирования
        select.field__select(name="fin-source", value="")
          option(value="бюджет") бюджет
          option(value="внебюджет") внебюджет
        //- input.field__input(type="text", name="fin-source", value="")
    .edu-prog-form__places-number
      label.field
        span.field__title Количество мест
        input.field__input(type="text", name="places-number", value="")
    .edu-prog-form__deleted
      label.field
        input.field__input(type="checkbox", name="_deleted", value="true")
        span.field__title Удалено

    input(type="hidden", name="_rev", value="")
    input(type="hidden", name="_id", value="")
    input(type="hidden", name="type", value="")

    .edu-prog-form__btn-panel
      button.button.button--primary(type="submit") ✔️ Сохранить и закрыть
      button.button.button--secondary.edu-prog-form__btn--duplicate(type="button") 📑 Дублировать
      button.button.button--secondary(type="button", data-a11y-dialog-hide) ❌ Закрыть без сохранения
