nav.nav(aria-label="Главное меню")
  ul.nav__list
    li.nav__item.nav__item--home: a.nav__link(href="./") База данных
    li.nav__item: a.nav__link(href="abits.html") Абитуриенты

    li.nav__item.nav-dropdown
      button.nav-dropdown__title.nav__link.nav__link--dropdown-root(type="button", aria-expanded="false", aria-controls="dropdown-content", disabled) Отчеты
      ul#dromdown-content.nav__list.nav-dropdown__menu
        li.nav__item: a.nav__link(href="#") Потребность в общежитии
        li.nav__item: a.nav__link(href="#") Cupcakes
        li.nav__item: a.nav__link(href="#") Chokolate
        li.nav__item: a.nav__link(href="backup.html") Backup

    li.nav__item.nav-dropdown
      button.nav-dropdown__title.nav__link.nav__link--dropdown-root(type="button", aria-expanded="false", aria-controls="dropdown-content") Сервис
      ul#dromdown-content.nav__list.nav-dropdown__menu
        li.nav__item: a.nav__link(href="speciality.html") Специальности
        li.nav__item: a.nav__link(href="#") Cupcakes
        li.nav__item: a.nav__link(href="backup.html") Резервное копирование
