nav.nav
  ul.nav__list
    li.nav__item.nav__item--home #[a.nav__link(href="/") База данных]
    li.nav__item #[a.nav__link(href="abits.html") Абитуриенты]
    li.nav__item #[a.nav__link(href="edu-progs.html") Образовательные программы]
    li.nav__item #[a.nav__link(href="backup.html") Резервное копирование]
