nav.nav
  ul.nav__list
    li.nav__item.nav__item--home #[a.nav__link(href="home.html") Абитуриенты]
    li.nav__item #[a.nav__link(href="list.html") Список]
    li.nav__item #[a.nav__link(href="edu-progs.html") Специальности]
    li.nav__item #[a.nav__link(href="edu-prog-form.html") edu-prog-form.html]
    li.nav__item #[a.nav__link(href="edu-prog-view.html") edu-prog-view.html]
    // li.nav__item #[a.nav__link(href="abit-view.html") abit-view.html]
    li.nav__item #[a.nav__link(href="abit.html") abit.html]
    li.nav__item #[a.nav__link(href="backup.html") backup.html]
