extends ../pug/layout

//- block preload
//-   link(rel="preload" href="fonts/TwemojiMozilla.ttf" as="font")

block style
  style.
    .dark {
      background-color: grey;
    }
    #abit-list {
      counter-reset: n;
    }
    details.item summary {
      cursor: pointer;
    }

block content
  progress#progress(max="100", value="0", style="width: 100%")

  #abit-list

block assets
  #edit-dialog.dialog-container(aria-labelledby="dialog-title-id", aria-hidden="true")
    .dialog-overlay(data-a11y-dialog-nohide)
    .dialog-content(role="document")
      button.dialog-close-button(type="button", data-a11y-dialog-hide, aria-label="Close dialog") &times;
      h2#dialog-title-id.h2 Правка абитуриента
      .dialog-content-form

  script(src="js/abits.js")
