extends ../pug/layout.pug

block content
  article.abit-view
      .value.abit-view__reg-date 09.08.2021
      .value.abit-view__gender.emoji ♂️
      .value.abit-view__fio Абдулаев Алексей Евгеньевич

      .value-container
        .value.abit-view__cert-score 4,25
        .value.abit-view__extra-score 0,25
        .value.abit-view__total-score 4,5

      .value-container
        .value.abit-view__has-edu-cert-original ☑️
        .value.abit-view__has-medical-cert ✅
        .value.abit-view__has-fluoro 🗹
        .value.abit-view__has-vaccine ✔️

      .value.abit-view__address Республика Саха (Якутия) Хангаласский улус

      .value.abit-view__tel +79243212565
      .value.abit-view__need-dorm 🏨

      .value-container
        .value.abit-view__school-year 2021
        .value.abit-view__school МКОУ СОШ №17 с. Прохладное Надеждинского р-на

      .value.abit-view__contract-ready ✅
