extends ../pug/layout

//- block preload
//-   link(rel="preload" href="fonts/TwemojiMozilla.ttf" as="font")

block style
  style.
    .dark {
      background-color: grey;
    }
    #abit-list {
      counter-reset: n;
    }
    details.item summary {
      cursor: pointer;
    }

block content
  progress#progress(max="100", value="0", style="width: 100%")

  #abit-list

block assets
  template#abit-view
    include ../pug/includes/abit-view.pug

  script(src="js/abits.js")
