extends ../pug/layout

block content
  #edu-prog-list

block assets
  template#edu-prog-dialog
    // 1. The dialog container
    .dialog-container(aria-labelledby="your-dialog-title-id", aria-hidden="true")
      // 2. The dialog overlay
      .dialog-overlay(data-a11y-dialog-no-hide)
      // 3. The actual dialog
      .dialog-content(role="document")
        // 4. The close button
        button.dialog-close-button(type="button", data-a11y-dialog-hide, aria-label="Close dialog") &times;
        // 5. The dialog title
        h3 Образовательная программа
        // 6. Dialog content
        include ../pug/edu-prog-form

  template#edu-prog-view
    article.edu-prog-view(data-id="###", tabindex="0")
      .value.edu-prog-view__value.edu-prog-view__value--code #[span(name="code")]
      .value.edu-prog-view__value.edu-prog-view__value--speciality #[span(name="speciality")]
      .value.edu-prog-view__value.edu-prog-view__value--qualification #[span(name="qualification")]
      .value.edu-prog-view__value.edu-prog-view__value--edu-form #[span(name="edu-form")]
      .value.edu-prog-view__value.edu-prog-view__value--base-edu-level #[span(name="base-edu-level")]
      .value.edu-prog-view__value.edu-prog-view__value--duration #[span(name="duration")]
      .value.edu-prog-view__value.edu-prog-view__value--fin-source #[span(name="fin-source")]
      .value.edu-prog-view__value.edu-prog-view__value--places-number #[span(name="places-number")]

  script(src="js/edu-progs.js")
