extends ../pug/layout.pug

mixin item(link)
  li
    a(href=link)=link

block content
  ul
    -
      const links = [
        'edu-prog-form.html',
        'edu-prog-view.html',
        'edu-progs.html',
        'abit-view.html',
        'abit.html',
        'abit-form.html',
        'backup.html'
      ]
    each link in links
      +item(link)

  #svelte

  script(type="module").
    import Component from "./js/svelte/sample.js";

    const target = document.getElementById('svelte');
    const data = {name: 'from html'}
    const cmp = new Component({
      target,
      props: {data}
    });
